@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* ------------HEADER--------------- */

  .header-container {
    padding-right: 32px;
  }

  .header-logo {
    margin-right: 131px;
  }

  .header-item:not(:last-child) {
    margin-right: 30px;
  }

  .header-contacts {
    display: flex;
    align-items: center;
  }

  .header-tel {
    margin-right: 43px;
  }

  /* --------------HERO---------------- */

  .hero > .container {
    width: 1200px;
  }

  .hero-wrap {
    padding: 272px 51px 208px;
  }

  .hero-title {
    font-size: 72px;
    line-height: 1.18;
  }

  /* -----------------ABOUT------------- */

  .about-title {
    font-size: 42px;
    line-height: 49px;
  }
  .about-after-title {
    font-size: 18px;
    line-height: 1.67;
  }

  .about-text {
    margin-bottom: 42px;
  }

  .about-card {
    width: calc((100% - 90px) / 4);
  }

  /* --------------Docs----------------- */

  .docs-item {
    width: calc((100% - 90px) / 4);
  }

  /* -------------VACANCIES------------- */

  .vacancies {
    padding-bottom: 60px;
  }

  .prices-wrap {
    display: flex;
    gap: 30px;
    background-color: none;
  }

  /* ------------------ONLINE----------------- */

  .online-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts-wrap {
    max-width: 1600;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.7),
        rgba(25, 28, 38, 0.8)
      ),
      url(../images/contact-us.jpg);
    background-position: right;
    background-size: calc(50% - 15px) 100%;
  }

  @media (min-device-paxel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .contacts-wrap {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.7),
          rgba(25, 28, 38, 0.8)
        ),
        url(../images/contact-us.jpg);
    }
  }

  .contacts-wrap .container {
    display: flex;
  }

  .online {
    width: calc(50% + 15px);
    padding-right: 15px;
    padding-top: 130px;
    padding-bottom: 120px;
  }

  /* ------------0NLINE FORM----------------*/

  .online-input {
    width: 270px;
  }

  #main-form-btn {
    margin-bottom: 0;
  }

  /* -------------CONTACTS---------------- */

  .contacts {
    width: calc(50% + 15px);
    padding-left: 100px;
    padding-top: 130px;
    padding-bottom: 120px;
  }
}
