@media screen and (min-width: 380px) {
  .benefits-item {
    width: 165px;
  }
}

@media screen and (max-width: 479px) {
  .prices-list:first-child {
    padding: 30px 10px 0 10px;
  }

  .prices-list:last-child {
    padding: 0 10px 30px 10px;
  }

  .contacts-title,
  .online-title {
    font-size: 36px;
  }
}

@media screen and (min-width: 480px) {
  .hero-wrap {
    padding: 210px 30px;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* -----------PRICES---------------- */

  .prices-list:first-child {
    padding: 30px 20px 0 20px;
  }

  .prices-list:last-child {
    padding: 0 20px 30px 20px;
  }

  /* -----------BENEFITS------------- */

  .benefits-item {
    width: 194px;
  }

  /* -------------BARBERS-------------- */

  .barbers-item {
    width: 418px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .mob-menu .modal-close {
    top: 59px;
    right: 41px;
    height: 16px;
  }

  /* ---------------BENEFITS---------------- */

  .benefits-list {
    width: 418px;
    margin-right: auto;
    margin-left: auto;
  }

  /* ------------GALLERY-------------- */

  .gallery-item {
    width: 418px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* -------------HEADER-CONTAINER---------- */

@media screen and (max-width: 767px) {
  body.menu-open {
    overflow: hidden;
  }

  /* -------------MODAL-MENU------------ */

  .menu-backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mob-menu .container {
    padding: 118px 40px;
  }

  .menu-backdrop {
    position: fixed;
    display: flex;
    justify-content: end;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 28, 38, 0.2);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity var(--duration) var(--timing-function),
      visibility var(--duration) var(--timing-function);
  }

  .menu-backdrop.is-open .mob-menu {
    transform: translateX(0);
  }

  .mob-menu {
    position: absolute;
    width: 337px;
    height: 100%;
    background: #ffffff;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04),
      -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
    overflow: auto;

    transform: translateX(100%);

    transition: transform var(--duration) var(--timing-function);
  }

  /* -----------MODAL-MENU-CONTANT------------- */
  .mob-menu-list {
    margin-bottom: 64px;
  }

  .mob-menu-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .mob-menu-link,
  .mob-menu-tel {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 0.1em;
    color: var(--second-btn-color);
  }

  .mob-menu-link.active {
    color: var(--accent-color);
  }

  .mob-menu-tel {
    display: block;
    margin-bottom: 24px;
  }

  .mob-menu-btn {
    min-width: 194px;
    margin-bottom: 64px;
    color: var(--second-btn-color);
  }

  .mob-soc-list {
    position: relative;
    padding-left: 100px;
  }

  .mob-soc-list::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    display: block;
    width: 60px;
    height: 1px;
    background-color: currentColor;
  }

  .mob-soc-item:first-child {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .mob-soc-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.2em;
    color: var(--second-btn-color);
  }

  /* ------------HEADER----------------- */

  .menu-open-btn {
    border: none;
    padding: 0;
    height: 40px;
    background-color: transparent;
  }

  /* --------------HERO---------------- */

  .menu-open-icon {
    fill: var(--first-btn-color);
  }

  /* -----------------ABOUT------------- */

  .about-list {
    display: none;
  }

  /* ------------CONTACTS/ONLINE---------- */

  .contacts-title,
  .online-title {
    text-align: center;
  }
}
