:root {
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --gray-color: #555555;
  --accent-color: #0c5adb;
  --light-gray: #9da4bd;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Open Sans', sans-serif;
}

body.modal-open {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.btn {
  min-width: 160px;
  height: 40px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--first-btn-color);
}

/* ---------------BACKDROP-------------------- */

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  overflow: auto;

  transition: opacity var(--duration) var(--timing-function),
    visibility var(--duration) var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);

  transition: transform var(--duration) var(--timing-function);
}

.modal-close {
  position: absolute;
  padding: 0;
  top: 40px;
  right: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-form .form-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #090b13;
}

.modal-form .form-btn:hover,
.modal-form .form-btn:focus {
  color: #fcfcfc;
}

/* ----------------Modal content---------- */

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 14px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 19px;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color var(--duration) var(--timing-function);
}

/* .modal-form-input:not(:placeholder-shown):not(:focus):valid {
  background-color: rgb(115, 212, 115);
  color: #fcfcfc;
}

.modal-form-input:not(:placeholder-shown):not(:focus):valid + .modal-form-icon {
  fill: #fcfcfc;
}

.modal-form-input:not(:placeholder-shown):not(:focus):invalid {
  background-color: rgb(236, 41, 41);
  color: #fcfcfc;
} */

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-field {
  display: block;
  margin-bottom: 8px;
}

.textarea {
  margin-bottom: 16px;
}

.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-input-wrap {
  position: relative;
  display: block;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);

  transition: fill var(--duration) var(--timing-function);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;

  transition: border-color var(--duration) var(--timing-function);
}

.modal-form-message::placeholder {
  transition: opacity var(--duration) var(--timing-function);
}

.modal-form-message:focus::placeholder {
  opacity: 0;
}

/* -----------Checkbox---------- */

/* .user-policy {
  position: relative;
}

.user-policy::before {
  content: "";
  width: 30px;
  height: 17px;
  border: 1px solid #7b7171;
  border-radius: 50px;

  transition: border var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
}

.user-policy::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #7d7b7b;
  transition: transform var(--duration) var(--timing-function);
}

.input-checkbox:checked + .user-policy::after {
  background-color: rgb(131, 168, 131);
  transform: translate(15px);
}

.input-checkbox:checked + .user-policy::before {
  border: none;
  background-color: rgb(181, 197, 181);


} */
/* --------------Filters-------------- */

/* .filter-list {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.filter-btn {
  display: block;
  background-color: #8e8f99;
  color: #f7f7f7;
  padding: 10px 20px;
  cursor: pointer;
}

.filter-radio:checked + .filter-btn {
  background-color: #4d5ae5;
} */

/* ------------------- */

.modal-form-checkbox-wrap {
  margin-bottom: 24px;
}

.input-checkbox:checked + .user-policy .checkbox-icon {
  opacity: 1;
}

.checkbox-icon-wrap {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
}

.checkbox-icon {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: opacity var(--duration) var(--timing-function);
}

.user-policy {
  display: flex;
  align-items: center;
  gap: 4px;
}

.privacy-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}
/* -----------------HEADER------------------- */

.header {
  padding-bottom: 40px;
  position: absolute;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo-icon {
  fill: var(--first-btn-color);
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-list,
.header-tel,
.header-btn {
  display: none;
}

.mob-menu .modal-close {
  top: 59px;
  right: 27px;
  height: 16px;
}

/* ----------------------HERO---------------- */

.hero > .container {
  display: flex;
  padding: 0;
  width: 100%;
}

.hero-soc {
  display: none;
}

.hero-wrap {
  background-color: rgb(51, 51, 50);
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.8)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  padding: 210px 10px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolutioon: 192dpi),
  (min-resolution: 2dppx) {
  .hero-wrap {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.8)
      ),
      url(../images/hero-bg.jpg);
  }
}

.hero-pre-title {
  margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--first-title-color);
}

.hero-after-title {
  color: var(--light-gray);
  max-width: 320px;
  font-size: 16px;
  line-height: 1.62;
}

/*-----------------------ABOUT------------------------*/

.about > .container {
  display: flex;
}

.about-item {
  margin-right: 30px;
}

.about-wrap {
  max-width: 470px;
}

.about-pre-title {
  margin-bottom: 20px;

  color: var(--second-title-color);
}

.about-title {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1.17;

  color: var(--second-title-color);
}

.about-after-title {
  font-size: 16px;
  line-height: 1.63;
  color: var(--gray-color);
  margin-bottom: 20px;
}

.about-text {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--gray-color);
}

.about-btn {
  color: var(--second-btn-color);
}

/* ----------------PRICES------------- */

.prices {
  background-color: #111319;
  background-image: url(../images/price-bg.png);
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.prices-pre-title {
  margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  margin-bottom: 44px;
  font-size: 40px;
  line-height: 1.175;

  color: var(--first-btn-color);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
  gap: 4px;
}

.prices-list:last-child .prices-item:last-child {
  margin-bottom: 0;
}

.prices-item::before {
  content: '';
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.prices-item-text {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: var(--light-gray);
}

.prices-item-text:first-child {
  order: -1;
}

.prices-wrap {
  margin-bottom: 44px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-btn {
  color: var(--first-btn-color);
  display: block;
  margin: 0 auto;
}

/* ---------------BENEFITS-------------- */

.benefits-container {
  display: flex;
  flex-direction: column;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  order: 1;
}

.benefits-wrap {
  margin-bottom: 44px;
}

.benefits-item {
  width: 135px;

  height: 133px;
  padding: 20px 24px;
  background-color: #f7f7f7;
}

.benefits-item .count::after {
  content: '+';
  position: absolute;
  top: 7px;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: var(--accent-color);
  margin-left: 1px;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item .count {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
  position: relative;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;
  color: var(--second-title-color);
}

.benefits-pre-title {
  margin-bottom: 20px;

  color: var(--second-title-color);
}

.benefits-title {
  margin-bottom: 20px;

  color: var(--second-title-color);
}

.benefits-after-title {
  color: var(--gray-color);
}

/* --------------BARBERS---------------- */

.barbers {
  background-color: #f7f7f7;
}

.thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.barbers-thumb-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: var(--accent-color);
  color: var(--first-btn-color);
  transform: translateY(100%);
  transition: transform var(--duration) var(--timing-function);
}

.barbers-item:hover .barbers-thumb-text {
  transform: translateY(0);
}

.barbers-pre-title {
  margin-bottom: 20px;

  color: var(--second-title-color);
}

.barbers-title {
  margin-bottom: 44px;

  color: var(--second-title-color);
}

/* .barbers-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.barbers-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
} */

.barbers-item:not(:last-child) {
  margin-bottom: 64px;
}

.barbers-item-title {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--second-title-color);
}

.barbers-item-text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color);
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-item {
  width: 44px;
  height: 44px;
}

.barbers-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--first-title-color);
  border-radius: 50%;
}

.barbers-soc-link:hover .barbers-soc-icon,
.barbers-soc-link:focus .barbers-soc-icon {
  fill: #ff6c00;
}

/* ----------------Gallery--------------- */

/* .gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
} */

.gallery-pre-title {
  margin-bottom: 71px;
  color: var(--second-title-color);
}

.gallery-item {
  margin-bottom: 30px;
}

/* ----------------ONLINE----------- */

.contacts-wrap {
  margin: 0 auto;
  background-color: #191c26;
  background-image: url(../images/mob-contacts-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% calc(50% - 17px);
}

@media (min-device-paxel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .contacts-wrap {
    background-image: url(../images/mob-contacts-bg@2x.png);
  }
}

.online {
  padding-top: 84px;
  padding-bottom: 84px;
}

.online-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

/* ---------------Online form------------- */

.online-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.online-item {
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-size: 11px;
  margin-bottom: 44px;
  background-color: transparent;
  outline: transparent;
  color: var(--first-title-color);

  transition: border-color var(--duration) var(--timing-function);
}

.online-item:focus {
  border-color: var(--first-title-color);
}

.online-item:focus::placeholder {
  color: var(--first-title-color);
}

.online-input {
  border-radius: 0;
  width: 100%;
  height: 24px;
  padding-bottom: 8px;
}

.online-item::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);

  transition: color var(--duration) var(--timing-function);
}

.online-message {
  resize: none;
  width: 100%;
  height: 76px;
  border-radius: 0;
}

.online-form .header-btn {
  display: block;
  color: var(--first-btn-color);
  margin: 0;
}

/* -------------CONTACTS---------------- */

.contacts {
  padding-top: 84px;
  padding-bottom: 84px;
}

.contacts-title {
  color: var(--first-title-color);
  margin-bottom: 40px;
}

.contacts-adress {
  font-style: normal;
  margin-bottom: 70px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-subtitle.pre-title::before {
  background-color: rgba(157, 164, 189, 0.4);
}

.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* -----------------FOOTER--------------- */
.footer {
  padding-top: 44px;
  padding-bottom: 44px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-copy {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
  order: 1;
}

.copy {
  font-size: 18px;
  margin-right: 6px;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
  align-self: end;
}

.footer-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
