/* --------------------MEDIA 768PX TO 1199PX------------ */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* ------------HEADER------------------- */

  .header-contacts {
    display: flex;
    flex-direction: column;
  }

  .header-tel {
    order: 1;
    text-align: center;
  }

  .header-btn {
    margin-bottom: 20px;
  }
  /* -----------------ABOUT------------- */

  .about-img {
    margin-right: 30px;
    width: 330px;
    object-fit: cover;
  }

  .about-card {
    width: calc((100% - 30px) / 2);
  }

  /* ----------------ONLINE------------- */

  .contacts-address-wrap {
    display: flex;
    gap: 70px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }

  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  /* ----------------HEADER------------ */

  .header {
    padding-top: 0;
    padding-bottom: 32px;
  }

  .header-logo {
    margin-right: 59px;
  }

  .header-logo-icon {
    fill: var(--second-btn-color);
  }

  .header-list {
    display: flex;
  }

  .header-item:not(:last-child) {
    margin-right: 20px;
  }

  .header-link,
  .header-tel {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--first-title-color);
    transition: color var(--duration) var(--timing-function);
  }

  .header-link.active {
    color: var(--accent-color);
  }

  /* .header-link.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: var(--accent-color);
    top: 25px;
    left: 0;
  } */

  .header-link:hover,
  .header-link:focus {
    color: var(--accent-color);
  }

  .header-tel {
    display: block;
    text-transform: uppercase;
  }

  .header-tel:hover,
  .header-tel:focus {
    color: var(--accent-color);
  }

  .header-btn {
    display: block;
    color: var(--first-btn-color);
  }

  .menu-open-btn {
    display: none;
  }

  .menu-backdrop {
    display: none;
  }

  /* ---------------HERO---------------- */

  .hero > .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 720px;
  }

  .hero-soc {
    display: flex;
    align-items: end;
    width: 100px;
    padding-left: 32px;
  }

  .hero-list {
    display: flex;
    align-items: center;
    gap: 40px;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
  }

  .hero-list::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
  }

  .hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--second-btn-color);
    transition: color var(--duration) var(--timing-function);
  }

  .hero-link:hover,
  .hero-link:focus {
    color: var(--accent-color);
  }

  .hero-wrap {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.6)
      ),
      url(../images/hero-bg.jpg);
    padding: 200px 84px 35px 50px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.6)
        ),
        url(../images/hero-bg.jpg);
    }
  }

  .hero-after-title {
    max-width: 480px;
    font-size: 18px;
    line-height: 1.67;
  }

  .hero-btn {
    display: none;
  }

  /* ----------------ABOUT------------------- */

  .docs-item {
    width: calc((100% - 30px) / 2);
  }

  /* ------------------DOCS--------------------- */

  .docs {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.7),
        rgba(25, 28, 38, 0.8)
      ),
      url('../images/background-attach.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* ---------------VACANCIES-------------------- */

  .vacancies {
    padding-bottom: 50px;
  }

  .vacancies-title {
    font-size: 42px;
    line-height: 1.17;
  }

  /* ---------------BENEFITS----------------- */

  .benefits-wrap {
    width: 500px;
  }

  .benefits-list {
    align-self: flex-end;
    width: 450px;
    justify-content: start;
  }

  .benefits-item {
    width: 210px;
    padding: 20px 44px;
  }

  /* --------------BARBERS------------------ */

  .barbers-item {
    width: 450px;
  }

  /* -------------GALLERY------------------ */

  .gallery-pre-title {
    margin-bottom: 44px;
  }

  .gallery-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  .gallery-item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }

  /* -------------ONLINE/CONTACTS------------------- */

  .contacts-wrap {
    /* background-image: linear-gradient(
        rgba(25, 28, 38, 0.7),
        rgba(25, 28, 38, 0.8)
      ),
      url(../images/background-attach.jpg); */

    background-size: 100% calc(50% - 16px);
  }

  /* @media (min-device-paxel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .contacts-wrap {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.7),
          rgba(25, 28, 38, 0.8)
        ),
        url(../images/background-attach.jpg);
    }
  } */

  .online {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .online-input {
    width: 330px;
  }

  /* ------------------- */

  .contacts {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  /* ---------------FOOTER------------- */
  .footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-copy {
    order: 0;
  }

  .footer-list {
    margin-bottom: 0;
    align-self: center;
  }
}
